<section class="bg-gray-100 py-20 border border-gray-400">
  <div class="container">
    <div class="mb-12 text-center">
      <h2 class="text-3xl md:text-4xl font-bold text-gray-800">Products List</h2>
      <div class="w-20 h-1 bg-[#8B5E35] mx-auto mt-4 rounded-full"></div>
    </div>
    <div class="relative mt-8 mx-auto w-[95%] sm:w-3/4 md:w-1/2 lg:w-1/2 group">
      <div class="absolute inset-y-0 left-0 pl-4 flex items-center pointer-events-none">
        <i
          class="fa-solid fa-magnifying-glass text-gray-400 group-focus-within:text-[#8B5E35] transition-colors"
        ></i>
      </div>

      <input
        [(ngModel)]="text"
        type="search"
        placeholder="Search for products, brands..."
        class="block w-full pl-11 pr-4 py-3.5 bg-white border border-gray-200 rounded-2xl text-gray-700 placeholder:text-gray-400 shadow-[0_2px_15px_-3px_rgba(0,0,0,0.07),0_10px_20px_-2px_rgba(0,0,0,0.04)] transition-all duration-300 ease-in-out focus:bg-white focus:border-[#8B5E35] focus:ring-4 focus:ring-[#8B5E35]/10 focus:shadow-[0_8px_30px_rgb(0,0,0,0.12)] outline-none"
      />
    </div>

    <div class="parent mt-10 grid sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 gap-4">
      @for (
        product of productList
          | paginate: { id: 'foo', itemsPerPage: pageSize, currentPage: p, totalItems: total }
          | search: text;
        track product.id
      ) {
        <app-card [product]="product" />
      }
    </div>

    <div class="flex justify-center mt-10">
      <pagination-controls class="my-pagination" id="foo" (pageChange)="getAllProductsData($event)">
      </pagination-controls>
    </div>
  </div>
</section>
