<section class="min-h-screen flex items-center justify-center bg-[#F8F9FA]">
  <div class="flex flex-col lg:flex-row w-full min-h-screen">
    <div class="w-full lg:w-1/2 flex items-center justify-center p-8 md:p-12">
      <div class="max-w-md w-full">
        <h2 class="text-3xl font-bold text-[#1A1A37] mb-1">Forgot Password?</h2>
        <p class="text-gray-400 mb-8 text-sm">
          Please write your email to receive confirmation code to set a new password
        </p>

        <ol
          class="flex mb-8 items-center w-full p-3 text-sm font-medium text-center text-body bg-neutral-primary-soft border border-default rounded-xl shadow-xs sm:p-4 rtl:space-x-reverse justify-between"
        >
          <li [class.text-[#916841]]="step === 1" class="flex items-center justify-center flex-1">
            <span
              class="flex items-center justify-center w-5 h-5 me-2 text-2xs border rounded-full shrink-0"
              >1</span
            >
            <span class="whitespace-nowrap"
              >Verify <span class="hidden sm:inline-block">Email</span></span
            >
            <svg
              class="w-3 h-3 ms-2 sm:ms-4 rtl:rotate-180 text-gray-300"
              aria-hidden="true"
              xmlns="http://www.w3.org/2000/svg"
              fill="none"
              viewBox="0 0 24 24"
            >
              <path
                stroke="currentColor"
                stroke-linecap="round"
                stroke-linejoin="round"
                stroke-width="2"
                d="m9 5 7 7-7 7"
              />
            </svg>
          </li>

          <li [class.text-[#916841]]="step === 2" class="flex items-center justify-center flex-1">
            <span
              class="flex items-center justify-center w-5 h-5 me-2 text-2xs border rounded-full shrink-0"
              >2</span
            >
            <span class="whitespace-nowrap"
              >Verify <span class="hidden sm:inline-block">Code</span></span
            >
            <svg
              class="w-3 h-3 ms-2 sm:ms-4 rtl:rotate-180 text-gray-300"
              aria-hidden="true"
              xmlns="http://www.w3.org/2000/svg"
              fill="none"
              viewBox="0 0 24 24"
            >
              <path
                stroke="currentColor"
                stroke-linecap="round"
                stroke-linejoin="round"
                stroke-width="2"
                d="m9 5 7 7-7 7"
              />
            </svg>
          </li>

          <li [class.text-[#916841]]="step === 3" class="flex items-center justify-center flex-1">
            <span
              class="flex items-center justify-center w-5 h-5 me-2 text-2xs border rounded-full shrink-0"
              >3</span
            >
            <span class="whitespace-nowrap text-xs sm:text-sm">Reset Password</span>
          </li>
        </ol>

        @if (step === 1) {
          <form [formGroup]="verifyEmail" (ngSubmit)="formStep1()" class="space-y-4">
            <div>
              <label class="block text-[#1A1A37] font-semibold mb-1.5 text-sm">E-mail</label>
              <div class="relative">
                <span class="absolute inset-y-0 left-4 flex items-center text-[#916841]">
                  <i class="far fa-envelope"></i>
                </span>
                <input
                  formControlName="email"
                  type="email"
                  placeholder="Ahmed@gmail.com"
                  class="w-full pl-12 pr-4 py-3 rounded-xl border border-gray-100 bg-white shadow-sm focus:ring-2 focus:ring-[#916841] outline-none transition-all placeholder:text-gray-300"
                />
              </div>

              @let emailControl = verifyEmail.get('email');

              @if (emailControl?.errors && emailControl?.touched) {
                <div
                  class="mt-2 overflow-hidden rounded-2xl border border-red-100 bg-red-50/30 backdrop-blur-sm animate-fade-in"
                  role="alert"
                >
                  <ul class="p-4 space-y-2">
                    @if (emailControl?.getError('required')) {
                      <li class="flex items-start gap-3 text-[13px] text-red-600/90 font-medium">
                        <span class="w-1.5 h-1.5 rounded-full bg-red-400 mt-1.5 shrink-0"></span>
                        Input is required.
                      </li>
                    } @else if (emailControl?.getError('email')) {
                      <li class="flex items-start gap-3 text-[13px] text-red-600/90 font-medium">
                        <span class="w-1.5 h-1.5 rounded-full bg-red-400 mt-1.5 shrink-0"></span>
                        Please Enter a valid email address
                      </li>
                    }
                  </ul>
                </div>
              }
            </div>

            <button
              type="submit"
              class="cursor-pointer w-full bg-[#916841] text-white py-4 rounded-full font-bold shadow-lg hover:bg-[#7a5635] transition-all transform active:scale-95 mt-4"
            >
              Verify Email
            </button>

            <p class="text-center text-red-900">{{ msgError }}</p>
          </form>
        } @else if (step === 2) {
          <form [formGroup]="verifyCode" (ngSubmit)="formStep2()" class="space-y-4">
            <div>
              <label class="block text-[#1A1A37] font-semibold mb-1.5 text-sm">Reset Code</label>
              <div class="relative">
                <span class="absolute inset-y-0 left-4 flex items-center text-[#916841]">
                  <i class="fas fa-lock text-xs"></i>
                </span>
                <input
                  formControlName="resetCode"
                  type="text"
                  placeholder="xxxxxx"
                  class="w-full pl-12 pr-4 py-3 rounded-xl border border-gray-100 bg-white shadow-sm focus:ring-2 focus:ring-[#916841] outline-none transition-all placeholder:text-gray-300"
                />
              </div>

              @let codeControl = verifyCode.get('resetCode');

              @if (codeControl?.errors && codeControl?.touched) {
                <div
                  class="mt-2 overflow-hidden rounded-2xl border border-red-100 bg-red-50/30 backdrop-blur-sm animate-fade-in"
                  role="alert"
                >
                  <ul class="p-4 space-y-2">
                    @if (codeControl?.getError('required')) {
                      <li class="flex items-start gap-3 text-[13px] text-red-600/90 font-medium">
                        <span class="w-1.5 h-1.5 rounded-full bg-red-400 mt-1.5 shrink-0"></span>
                        Input is required.
                      </li>
                    }
                  </ul>
                </div>
              }
            </div>

            <button
              type="submit"
              class="cursor-pointer w-full bg-[#916841] text-white py-4 rounded-full font-bold shadow-lg hover:bg-[#7a5635] transition-all transform active:scale-95 mt-4"
            >
              Verify Code
            </button>

            <p class="text-center text-red-900">{{ msgError }}</p>
          </form>
        } @else if (step === 3) {
          <form [formGroup]="resetPassword" (ngSubmit)="formStep3()" class="space-y-4">
            <div>
              <label class="block text-[#1A1A37] font-semibold mb-1.5 text-sm">E-mail</label>
              <div class="relative">
                <span class="absolute inset-y-0 left-4 flex items-center text-[#916841]">
                  <i class="far fa-envelope"></i>
                </span>
                <input
                  formControlName="email"
                  type="email"
                  placeholder="Ahmed@gmail.com"
                  class="w-full pl-12 pr-4 py-3 rounded-xl border border-gray-100 bg-white shadow-sm focus:ring-2 focus:ring-[#916841] outline-none transition-all placeholder:text-gray-300"
                />
              </div>

              @let resetPasswordEmail = resetPassword.get('email');

              @if (resetPasswordEmail?.errors && resetPasswordEmail?.touched) {
                <div
                  class="mt-2 overflow-hidden rounded-2xl border border-red-100 bg-red-50/30 backdrop-blur-sm animate-fade-in"
                  role="alert"
                >
                  <ul class="p-4 space-y-2">
                    @if (resetPasswordEmail?.getError('required')) {
                      <li class="flex items-start gap-3 text-[13px] text-red-600/90 font-medium">
                        <span class="w-1.5 h-1.5 rounded-full bg-red-400 mt-1.5 shrink-0"></span>
                        Input is required.
                      </li>
                    } @else if (resetPasswordEmail?.getError('email')) {
                      <li class="flex items-start gap-3 text-[13px] text-red-600/90 font-medium">
                        <span class="w-1.5 h-1.5 rounded-full bg-red-400 mt-1.5 shrink-0"></span>
                        Please Enter a valid email address
                      </li>
                    }
                  </ul>
                </div>
              }
            </div>

            <div>
              <label class="block text-[#1A1A37] font-semibold mb-1.5 text-sm">New Password</label>
              <div class="relative">
                <span class="absolute inset-y-0 left-4 flex items-center text-[#916841]">
                  <i class="fas fa-lock text-xs"></i>
                </span>
                <input
                  formControlName="newPassword"
                  [type]="flag ? 'password' : 'text'"
                  placeholder="xxxxxxxxxxxx"
                  class="w-full pl-12 pr-12 py-3 rounded-xl border border-gray-100 bg-white shadow-sm focus:ring-2 focus:ring-[#916841] outline-none transition-all placeholder:text-gray-300"
                />
                <span
                  (click)="flag = !flag"
                  class="absolute inset-y-0 right-4 flex items-center text-gray-400 cursor-pointer"
                >
                  @if (flag) {
                    <i class="far fa-eye-slash"></i>
                  } @else {
                    <i class="fa-regular fa-eye"></i>
                  }
                </span>
              </div>

              @let resetPasswordNewPassword = resetPassword.get('newPassword');

              <!-- alert password -->
              @if (resetPasswordNewPassword?.errors && resetPasswordNewPassword?.touched) {
                <div
                  class="mt-2 overflow-hidden rounded-2xl border border-red-100 bg-red-50/30 backdrop-blur-sm animate-fade-in"
                  role="alert"
                >
                  <ul class="p-4 space-y-2">
                    @if (resetPasswordNewPassword?.getError('required')) {
                      <li class="flex items-start gap-3 text-[13px] text-red-600/90 font-medium">
                        <span class="w-1.5 h-1.5 rounded-full bg-red-400 mt-1.5 shrink-0"></span>
                        Input is required.
                      </li>
                    } @else if (resetPasswordNewPassword?.getError('pattern')) {
                      <li class="flex items-start gap-3 text-[13px] text-red-600/90 font-medium">
                        <span class="w-1.5 h-1.5 rounded-full bg-red-400 mt-1.5 shrink-0"></span>
                        Custom field should match the pattern
                      </li>
                    }
                  </ul>
                </div>
              }
            </div>

            <button
              type="submit"
              class="cursor-pointer w-full bg-[#916841] text-white py-4 rounded-full font-bold shadow-lg hover:bg-[#7a5635] transition-all transform active:scale-95 mt-4"
            >
              Reset Password
            </button>

            <p class="text-center text-red-900">{{ msgError }}</p>
          </form>
        }
      </div>
    </div>

    <div class="hidden lg:flex lg:w-[42%] relative">
      <img
        src="/images/loginimg.jpg"
        class="absolute inset-0 w-full h-full object-cover"
        alt="Fashion Background"
      />

      <div
        class="absolute inset-0 bg-black/40 flex flex-col justify-end p-20 text-white text-center"
      >
        <h2 class="text-4xl font-bold mb-4">Welcome to Trendify</h2>
        <p class="text-lg text-gray-200 mb-8 max-w-sm mx-auto">
          Discover the latest trends, express your unique style.
        </p>
        <div class="flex justify-center space-x-2">
          <span class="w-6 h-1 bg-[#916841] rounded-full"></span>
          <span class="w-4 h-1 bg-white/50 rounded-full"></span>
          <span class="w-4 h-1 bg-white/50 rounded-full"></span>
        </div>
      </div>
    </div>
  </div>
</section>
